@using PaneGEST_Blazor_MySQL.Components
@using PaneGEST_Blazor_MySQL.Components.Layout
@using Microsoft.AspNetCore.Components.Web
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PaneGEST_Blazor_MySQL.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <!-- O @using Microsoft.AspNetCore.Components.Web lá em cima corrige isto: -->
    <HeadOutlet @rendermode="InteractiveServer" />
    <script src="_content/Blazor-ApexCharts/js/apex-charts.min.js"></script>
</head>

<body>
    
    <!-- O @using PaneGEST_Blazor_MySQL.Components lá em cima corrige isto: -->
    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>

    <script>
        window.openPdfInNewTab = async (contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer], { type: 'application/pdf' });
            const url = URL.createObjectURL(blob);
            window.open(url, '_blank');
        }
    </script>
</body>

</html>
